<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nome do Projeto</title>
    <!-- set up awesome fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <!-- set up bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body (window:resize)="onResize($event)">
    <!-- BANNER -->
    <a href="/dashboard" class="back">
      <div class="banner">
        <div class="banner-img">
          <!-- TODO - add proper logo this one is a test -->
          <img src="assets/images/logo-test.png" />
        </div>
        <div class="banner-content">
          <!-- TODO  - add proper title -->
          <h1>PROJETO TCC</h1>
        </div>
      </div>
    </a>
    <!-- MENU BUTTON -->
    <div title="Lista Pacientes" class="menu-btn">
      <i (click)="controlDisplay()" id="menu-btn" class="fa-solid fa-bars"></i>
    </div>
    <div class="above">
      <!-- PROFILE OPTIONS -->
      <div class="profileOptions">
        <img
          (click)="toggleOptions()"
          title="Opções de Perfil"
          class="profile-photo"
          src="{{ profilePhoto }}"
          alt="profile-photo"
        />
        <span>Olá, {{ userName }}</span>
        <div class="options shrink">
          <ul>
            <li>
              <a href="/profile">Perfil</a>
            </li>
            <li>
              <a href="/code-generator">Gerar Código</a>
            </li>
            <li>
              <a (click)="logout()" href="/login">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row gx-3">
        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
          <!-- SIDEBAR -->
          <aside id="aside">
            <div class="top">
              <h2>PACIENTES:</h2>
              <div class="close">
                <i
                  (click)="controlDisplay()"
                  id="close-btn"
                  title="Fechar"
                  class="fa-solid fa-xmark"
                ></i>
              </div>
            </div>
            <div class="search">
              <div class="input-group rounded">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Pesquisar"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  [(ngModel)]="searchText"
                  autofocus
                />
              </div>
            </div>
            <div class="bottom">
              <ul class="list-group list-group-flush">
                <li
                  (click)="getIdFromClick($event)"
                  class="list-group-item"
                  *ngFor="let c of listPatients | appFilter : searchText"
                  appHighlight
                  [searchedWord]="searchText"
                  [content]="c.name"
                  [classToApply]="'fw-bolder'"
                  id="{{ c._id }}"
                >
                  {{ c }}
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 col-xxl-10">
          <!-- MAIN CONTENT -->
          <main id="main">
            <div id="info" class="info">
              <div class="row">
                <div class="col-12">
                  <h2>INFORMAÇÕES DO PACIENTE:</h2>
                  <i
                    (click)="downloadPdf()"
                    title="Download PDF"
                    class="pdf fa-regular fa-file-pdf"
                  ></i>
                </div>
                <div class="noPatientSelected">
                  <h3>
                    Selecione um paciente da lista para ver as informações
                  </h3>
                </div>
                <div class="row patientSelected hidden">
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[0] }}<span>{{ patient.name }}</span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[1]
                      }}<span
                        >{{ patient.birthDateFormatted }} ({{
                          patient.age
                        }}
                        Anos)</span
                      >
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[2] }}<span>{{ patient.email }}</span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[3] }}<span>{{ patient.codLogin }}</span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[4]
                      }}<span>{{ patient.diagnosisDateFormatted }}</span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[5] }}<span>{{ patient.therapyTime }}</span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <h3>
                      {{ labels.info[6]
                      }}<span>{{ patient.otherComorbidities }}</span>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="charts">
              <h2>FILTROS:</h2>
              <div id="selectors" class="row gx-1">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <h3 class="period">Período:</h3>
                  <mat-form-field class="datepicker" appearance="fill">
                    <mat-label>Selecione um intervalo de datas</mat-label>
                    <mat-date-range-input
                      [formGroup]="filtersForm"
                      [rangePicker]="picker"
                    >
                      <input
                        (ngModelChange)="loadResults()"
                        matStartDate
                        placeholder="Data de início"
                        formControlName="start"
                      />
                      <input
                        (ngModelChange)="loadResults()"
                        matEndDate
                        placeholder="Data final"
                        formControlName="end"
                      />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error
                      *ngIf="
                        filtersForm.controls.start.hasError(
                          'matStartDateInvalid'
                        )
                      "
                      >Data inicial inválida</mat-error
                    >
                    <mat-error
                      *ngIf="
                        filtersForm.controls.end.hasError('matEndDateInvalid')
                      "
                      >Data final inválida</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <h3>
                    Tipo de jogo:
                    <form [formGroup]="filtersForm">
                      <select
                        formControlName="gameSelected"
                        (change)="loadResults()"
                        class="form-select"
                        id="gameType"
                      >
                        <option value="gameNotSelected">Selecione</option>
                        <option *ngFor="let game of games" [value]="game._id">
                          {{ game.name }}
                        </option>
                      </select>
                    </form>
                  </h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <h3>
                    Presença de estímulos sonoros:
                    <form [formGroup]="filtersForm">
                      <select
                        formControlName="soundStimuli"
                        (change)="loadResults()"
                        class="form-select"
                        id="gameType"
                      >
                        <option value="no">Não</option>
                        <option value="yes">Sim</option>
                      </select>
                    </form>
                  </h3>

                  <!-- <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="soundStimuli"
                      (change)="soundStimuliCheck()"
                    />
                    <label class="form-check-label" for="soundStimuli">
                      Presença de estímulos sonoros
                    </label>
                  </div> -->
                </div>
              </div>
              <!-- CHARTS -->
              <div class="chartsrow" id="chartsrow">
                <h2>GRÁFICOS DISPONÍVEIS:</h2>
                <div class="row">
                  <div
                    id="chart1"
                    class="col-sm-12 col-md-12 col-lg-6 col-xl-12 col-xxl-12"
                  >
                    <h3 class="chartTitle">{{ labels.charts[0] }}</h3>
                    <div class="chartDays" id="chartDays"></div>
                  </div>
                  <div
                    id="chart2"
                    class="col-sm-12 col-md-12 col-lg-6 col-xl-12 col-xxl-12"
                  >
                    <h3 class="chartTitle">{{ labels.charts[1] }}</h3>
                    <div class="chartPoints" id="chartPoints"></div>
                  </div>
                </div>
                <div class="row">
                  <div
                    id="chart3"
                    class="col-sm-12 col-md-12 col-lg-6 col-xl-12 col-xxl-12"
                  >
                    <h3 class="chartTitle">{{ labels.charts[2] }}</h3>
                    <div
                      class="chartTimeAssignment"
                      id="chartTimeAssignment"
                    ></div>
                  </div>
                  <div
                    id="chart4"
                    class="col-sm-12 col-md-12 col-lg-6 col-xl-12 col-xxl-12"
                  >
                    <h3 class="chartTitle">{{ labels.charts[3] }}</h3>
                    <div
                      class="chartTimeClickColor"
                      id="chartTimeClickColor"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
