@import "src/assets/_colors";

html {
  font-size: 14px;
  height: 84vh;
}

.outer {
  background: $color-background;
}

body {
  font-family: poppins, sans-serif;
  font-size: $standard-font-size;
  background: $color-background;
  user-select: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

h1 {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input[type="file"] {
  width: 342px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button.edit {
  height: 50px;
  width: 30px;
  margin: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.edit:hover {
  background-color: #b3b3b3;
}

input[type="submit"] {
  min-width: 342px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.code {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: monospace;
  font-size: 1.1rem;
  font-style: bold;
}
