<div class="outer">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Inscrever-se</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signupForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [ngClass]="{
                    error: firstName?.invalid && firstName?.touched
                  }"
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    type="text"
                    placeholder="Nome"
                    formControlName="firstName"
                  />
                  <div
                    class="required"
                    *ngIf="firstName?.invalid && firstName?.touched"
                  >
                    Nome é obrigatório!
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [ngClass]="{
                    error: lastName?.invalid && lastName?.touched
                  }"
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    type="text"
                    placeholder="Sobrenome"
                    formControlName="lastName"
                  />
                  <div
                    class="required"
                    *ngIf="lastName?.invalid && lastName?.touched"
                  >
                    Sobrenome é obrigatório!
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [ngClass]="{
                    error: emailControl?.invalid && emailControl?.touched
                  }"
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    type="text"
                    placeholder="E-mail"
                    formControlName="email"
                  />
                  <div
                    class="required"
                    *ngIf="emailControl?.invalid && emailControl?.touched"
                  >
                    Email Inválido!
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [ngClass]="{
                    error: passwordControl?.invalid && passwordControl?.touched
                  }"
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    [type]="type"
                    placeholder="Senha"
                    formControlName="password"
                  />
                  <div
                    class="required"
                    *ngIf="passwordControl?.invalid && passwordControl?.touched"
                  >
                    Senha Inválida!
                  </div>
                  <div class="tooltip-icon">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip"
                      >A senha deve conter ao menos: <br />- Uma letra
                      minúscula.<br />
                      - Uma letra maiúscula.<br />
                      - Um número.<br />
                      - Um caractere especial ($@$!%*?&).<br />
                      - Mínimo de 8 caracteres.</span
                    >
                  </div>
                  <span
                    (click)="hideShowPassword()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [ngClass]="{
                  error: signupForm.errors?.['notSame'] && confirmPasswordControl?.touched
                }"
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    [type]="type"
                    placeholder="Confirmar senha"
                    formControlName="confirmPassword"
                  />
                  <div
                    class="required"
                    *ngIf="signupForm.errors?.['notSame'] && confirmPasswordControl?.touched"
                  >
                    Os campos de senha devem ser iguais!
                  </div>
                  <span
                    (click)="hideShowPassword()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
                (click)="signup()"
              >
                Inscrever-se
              </button>
              <div class="text-center pt-4 text-muted">
                Já tem uma conta? <a id="forget" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
          <div class="mx-3 my-2 py-2 bordert">
            <div class="text-center py-3">
              <!-- <a href="https://www.facebook.com" target="blank" class="px-2"
                ><img
                  src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg"
                  alt=""
              /></a> -->
              <a href="https://www.google.com" target="blank" class="px-2"
                ><img
                  src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
